<%- include("../../include/head.ejs") %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include("../../include/navigation.ejs") %>

    <main>
        <% if (products.length <= 0) { %>
            <h1>No Products Found!</h1>
        <% } else { %>
            <div class="grid">
                <% for (let product of products) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">
                                <%= product.title %>
                            </h1>
                        </header>
                        <div class="card__image">
                            <img src="/images/<%= product.imageName %>" alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$
                                <%= product.price %>
                            </h2>
                            <p class="product__description">
                                <%= product.description %>
                            </p>
                        </div>
                        <div class="card__actions">
                            <a href="/admin/product/<%= product._id %>/edit" class="btn">Edit</a>

                            <!-- <form action="/admin/product/<%= product._id %>/delete" method="POST">
                            </form> -->
                            <input type="hidden" value="<%= product._id %>">
                            <button class="btn delete" type="button">Delete</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } %>
    </main>

    <script src="/js/product.js"></script>

    <%- include("../../include/end.ejs") %>